name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          WEATHER_BASE_URL: ${{ secrets.WEATHER_BASE_URL }}

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew testDebugUnitTest
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          WEATHER_BASE_URL: ${{ secrets.WEATHER_BASE_URL }}

#  firebase-test-lab-ui-test:
#    runs-on: ubuntu-latest
#    needs: [ build ]   # optional, but good practice
#    timeout-minutes: 30
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v6
#
#      - name: Set up JDK 21
#        uses: actions/setup-java@v5
#        with:
#          java-version: '21'
#          distribution: 'adopt'
#          cache: gradle
#
#      - name: Grant execute permission for gradlew
#        run: chmod +x gradlew
#
#      # Build APKs required by Firebase Test Lab
#      - name: Build app and test APKs
#        run: |
#          ./gradlew assembleDebug assembleDebugAndroidTest \
#            -Pandroid.testInstrumentationRunnerArguments.class=com.warbler.tests.usecases.DemoTest
#        env:
#          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
#          WEATHER_BASE_URL: ${{ secrets.WEATHER_BASE_URL }}
#
#      # Authenticate to Google Cloud
#      - name: Authenticate to Google Cloud
#        uses: google-github-actions/auth@v3
#        with:
#          credentials_json: ${{ secrets.GCP_SA_KEY }}
#
#      - name: Set up gcloud
#        uses: google-github-actions/setup-gcloud@v3
#        with:
#          project_id: ${{ secrets.GCP_PROJECT_ID }}
#
#      # Run tests on real devices
#      # Parallel - add sharding with the flag: --num-uniform-shards 2
#      - name: Run UI tests on Firebase Test Lab
#        run: |
#          gcloud firebase test android run \
#            --type instrumentation \
#            --app app/build/outputs/apk/debug/app-debug.apk \
#            --test app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk \
#            --device model=cheetah,version=33,locale=en,orientation=portrait \
#            --use-orchestrator \
#            --timeout 15m \
#            --results-bucket=gs://warbler-weather-test-results \
#            --test-targets "class com.warbler.tests.usecases.DemoTest"
